@using System.Text.RegularExpressions
@model List<ProductItemViewModel>



<div class="card">
    <div class="card-header d-flex justify-content-start align-items-center">
        <h5 class="mb-0">Продукти</h5>
        <a style="margin-left:70px" asp-action="Create" class="btn btn-primary" asp-controller="Products">Додати продукт</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th style="width:300px; word-wrap: break-word;">Description</th>
                    <th>CategoryName</th>
                    <th>Images</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>                   
                        <td>@item.Name</td>
                        <td style="font-weight:bold">
                              @Html.Raw(
                                    item.Description != null
                                    ? Regex.Replace(item.Description, "<.*?>", "").Substring(0, Math.Min(50, Regex.Replace(item.Description, "<.*?>", "").Length)) + "..."
                                    : ""
                                    );                           
                        </td>
                        <td>@item.CategoryName</td>
                        <td>
                            <div style="display: flex; flex-wrap:wrap;gap:8px;">
                                    <div id="carousel-@item.Id" class="carousel slide" data-bs-ride="false" style="width: 8rem;">
                                        <div class="carousel-inner">
                                            @for (int i = 0; i < item.Images.Count; i++)
                                            {
                                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                                    <img src="/images/200_@item.Images[i]" class="d-block w-100" style="height:5rem; object-fit: cover;" />
                                                </div>
                                            }
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@item.Id" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-@item.Id" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        </button>
                                    </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit"><i class="ri-pencil-line me-1"></i> Edit</a>                                 
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>